.bold{
    font-weight: bold;
    font-size: medium;
    line-height: 35px;
}
.dimImg{
    width: 200px;
    height: auto;
}
.container{

    width: 49%;
    height: 500px;
    border: 1px solid black;
    float: left;
}